.contact-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    border: 3px solid black;
  }
  
  .contact-title {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
    margin-bottom: 15px;
  }
  .right .data{
    background-color: #f3ecec;
   margin-left: 34px;
   margin-top: 23px;
    text-align: center;
    position: relative;
    /* background: var(--card-bg); */
    padding: 30px;
    border-radius: 20px;
    transition: 0.4s;
    overflow: hidden;
  }

  .right .data:hover{
    background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
    border: 2px solid blue;
  }

  .contact-h2{
    text-align: center;
    font-size: 40px;
    margin-top: 45px;
    font-weight: 900;
    margin-bottom: -26px;
  }

  .lineses{
    height: 5px;
    width: 167px;
    background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
    margin-top: 31px;
    display: flex
;
    /* margin-left: 121px; */
    margin-bottom: 66px;
    justify-self: center;
  }

  .container-contact{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    align-items: center;
    padding: 20px;
  }

  .right{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns layout */
    gap: 15px;
    padding: 20px;
  
  }
  .data i {
    font-size: 20px;
    color: #333;
  }
  /* Form Styling */
  .contact-form {
    display: grid;
    gap: 15px;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .row input {
    width: 48%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: black;
    color: white;
    font-size: 16px;
    outline: none;
  }
  
  textarea {
    width: 102%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background:black;
    color: white;
    font-size: 16px;
    height: 120px;
    outline: none;
  }
  
  .cbtn {
    background: black;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .cbtn:hover {
    background: gray;
  }

  .contact{
    display: flex
    ;
        flex-direction: column;
  }

  @media screen and (max-width: 901px) {
    .contact-container{
        margin-top: 130px;
    }
    .right {
      grid-template-columns: 1fr; 
      margin-left: -34px;
    }
    .contact-h2{
      margin-top: 134px;
        margin-bottom: -32px;
    }
  }
  